node_modules/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Snapshot output
snapshot.json
*.snapshot.json

/snapshots/

# npm pack output
*.tgz
